<h2 mat-dialog-title>Novo Banco</h2>

<mat-dialog-content class="modal-new-bank" >
    <mat-form-field>
        <input matInput placeholder="Código de Compensação" id="codigo_compensacao" name="codigo_compensacao" [(ngModel)]="codigo_compensacao">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Nome da Instituição" id="nome_instituicao" name="nome_instituicao" [(ngModel)]="nome_instituicao">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Fechar</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Salvar</button>
</mat-dialog-actions>