body{
    background: violet;
} 

.mat-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 26, 26);
}

form{
    display: flex;
    align-items: center;
}

.mat-form-field{
    width: 80%;
    margin-left: 10%;
}

table{
    width: 60%;
    height: 500px;
    display: block;
    overflow: auto;
    text-align: center;
}

th{
    width: 450px;
}

#table-header{
    text-align: center;
}

#table-header2{
    text-align: center;
}

.mat-elevation-z8{
    margin: 3% auto;
}

.mat-card-table{
    overflow-y: auto;
}

.button{
    margin-left: 5%;
    width: 400px;
    height: 35px;
}


